.fav {
	background-color: rgb(13, 38, 49);
	border: 2px solid rgb(116, 129, 123);
	color: white;
	margin: 2px;
}

.fav:hover {
	background-color: white;
	color: rgb(84, 89, 105);
	border: 2px solid rgb(15, 100, 157);
}

.view {
	background-color: #4285F4;
	border: 2px solid #4285F4;
	color: white;
	margin: 2px;
}

.view:hover {
	background-color: white;
	color: #4285F4;
	border: 2px solid #4285F4;
}
